/nrls-adapter/target/
NRLSAdapterAutomation/NRLSAdapterAutomation/bin/Debug/
NRLSAdapterAutomation/NRLSAdapterAutomation/obj/Debug/
NRLSAdapterAutomation/packages/
NRLSAdapterAutomation/.vs/NRLSAdapterAutomation/
